<template>
  <nuxt-link :to="link.location">
    <div class="directory--button">
      <div class="directory--inner has-text-centered">
        <span v-html="directoryPlaceName"/>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  name: 'ModuleDirectoryLink',
  props: {
    link: {
      type: Object,
      required: true,
    },
  },
  computed: {
    directoryPlaceName() {
      const regex = `([${this.link.hotkey}])`
      const rx = new RegExp(regex, 'g')
      const str = this.link.title.replace(rx, '<span class="directory--link-hotkey">$1</span>')
      return str
    },
  },
}
</script>

<style lang="scss">
.directory--link-hotkey {
  border-bottom: 1.5px solid black;
  padding-bottom: 1.5px;
}

.directory--button {
  color: #215b94;
  padding: 3px;

  .directory--inner {
    margin: 0.2rem;
    padding: 0.5rem;
    background-color: #aaaaaaaa;
    border-bottom: 1.5px solid #000000;
    border-right: 1.5px solid #000000;
    border-top: 1.5px solid #ffffff;
    border-left: 1.5px solid #ffffff;
    text-transform: uppercase;
  }

  &:hover {
    background-color: #aaaaaaaa;
  }
}
</style>
