<template>
  <panel v-show="shouldDisplay" :options="panelOptions">
    <template v-slot:header>
      <a class="card-header-icon has-text-danger" aria-label="more options" @click="minimise()">X</a>
    </template>
    <div v-for="({name, call}, id) in options" :key="id">
      <module-option :name="name" :call="call"></module-option>
    </div>
  </panel>
</template>

<script>
import Panel from '~/components/global/Panel'

import ModuleOption from './ModuleOption'

export default {
  name: 'ModuleOptions',
  components: {
    Panel,
    ModuleOption,
  },
  props: {
    options: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    panelOptions: {
      title: 'Options',
      display: false,
      mobile: true,
      move: true,
    },
    display: true,
  }),
  computed: {
    shouldDisplay() {
      const isTabbed = this.$store.state.options.toggle

      return !isTabbed
    },
  },
  methods: {
    hideDisplay() {
      this.display = false
    },
    minimise() {
      this.$store.commit('options/TOGGLE_OPTIONS')
      this.display = false
    },
  },
}
</script>

<style>
</style>
