<template>
  <div class="field is-grouped" style="margin-bottom: 1em;">
    <p class="control is-expanded" style="margin: auto 20px">{{ name }}</p>
    <p class="control">
      <a class="button" :class="{'is-link': on}" @click="fireToStore(call)">{{on ? 'On' : 'Off'}}</a>
    </p>
  </div>
</template>

<script>
export default {
  name: 'ModuleOption',
  props: {
    name: {
      type: String,
      default: '',
    },
    call: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    on: true,
  }),
  methods: {
    fireToStore(call) {
      this.$store.commit(call)

      this.on = !this.on
    },
  },
}
</script>

<style>
</style>
