<template>
  <layout-project-page :title="`project-detail`">
    <div class="columns">
      <div class="column">
        <h1 class="title is-size-5 has-text-centered">{{project.title}}</h1>

        <h2 class="subtitle">
          <div class="tags is-centered">
            <span
              v-for="(lang, id) in project.details.languages"
              :key="id"
              class="tag is-link"
            >{{lang}}</span>
          </div>
        </h2>
        <vueper-slides speed="5000" :bullets-outside="true" :arrows="false" autoplay>
          <vueper-slide v-for="(image, i) in project.images" :key="i" :image="image"/>
        </vueper-slides>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column"></div>
        </div>
        <p v-html="project.description"></p>
      </div>
    </div>
  </layout-project-page>
</template>

<script>
import { VueperSlides, VueperSlide } from 'vueperslides'

import LayoutProjectPage from '~/components/utilities/LayoutProjectPage'

export default {
  components: {
    LayoutProjectPage,
    VueperSlides,
    VueperSlide,
  },
  validate({ params }) {
    const route = parseInt(params.project)

    return /^\d+$/.test(route)
  },
  data: () => ({}),
  computed: {
    project() {
      const route = parseInt(this.$route.params.project)
      return this.$store.state.projects.collection.find(project => project.id === route)
    },
  },
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style>
</style>
