<template>
  <background>
    <module-return-home/>
    <project-selection/>
  </background>
</template>

<script>
import Background from '~/components/global/Background'
import ModuleReturnHome from '~/components/navigation/ModuleReturnHome'

import ProjectSelection from '~/components/page/projects/ProjectSelection'

export default {
  name: 'Projects',
  components: {
    ModuleReturnHome,
    Background,
    ProjectSelection,
  },
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style>
</style>
