<template>
  <panel :options="panelOptons">
    <div class="columns">
      <div class="column">
        <p>// TODO: dev blog</p>
      </div>
      <!-- <div class="column is-2"></div> -->
    </div>
  </panel>
</template>

<script>
import Panel from '~/components/global/Panel'

export default {
  name: 'BlogView',
  components: {
    Panel,
  },
  data: () => ({
    panelOptons: {
      title: 'dev',
      display: true,
      mobile: true,
      move: false,
    },
  }),
}
</script>

<style>
</style>
