<template>
  <panel :options="panelOptons">
    <div class="blog--seclection">
      <div v-for="({title, subtitle}, id) in blogs" :key="id" class="blog--selection-item">
        <p class="is-size-7">{{title}}</p>
      </div>
    </div>
  </panel>
</template>

<script>
import Panel from '~/components/global/Panel'

export default {
  name: 'BlogSelect',
  components: {
    Panel,
  },
  data: () => ({
    panelOptons: {
      title: 'dev',
      display: true,
      mobile: true,
      move: false,
    },
    blogs: [
      {
        title: 'Elit aliqua reprehenderit labore ad et voluptate mollit.',
        subtitle: 'Labore adipisicing nulla laborum aute excepteur enim Lorem reprehenderit fugiat.',
      },
      {
        title:
          'Ipsum est elit ea veniam quis aliquip irure deserunt ullamco pariatur laborum adipisicing velit consectetur.',
        subtitle: 'Tempor duis deserunt quis voluptate magna est veniam pariatur.',
      },
      {
        title: 'Do laborum labore esse fugiat mollit excepteur incididunt fugiat irure.',
        subtitle: 'Adipisicing consequat ullamco proident anim culpa culpa nisi.',
      },
      {
        title: 'Aliquip enim nisi mollit velit do commodo nulla eu do dolor tempor reprehenderit.',
        subtitle: 'Cillum labore nulla id officia pariatur.',
      },
      {
        title:
          'Adipisicing velit aute duis eiusmod deserunt dolore culpa proident laborum duis exercitation nostrud excepteur.',
        subtitle: 'Duis ad consectetur fugiat enim sint voluptate culpa elit.',
      },
      {
        title: 'Incididunt anim eu ipsum do cupidatat amet do est ullamco nisi veniam dolor.',
        subtitle: 'Tempor aute officia ex proident ea.',
      },
      {
        title: 'Voluptate anim eiusmod dolor commodo excepteur est minim duis pariatur quis quis dolor labore.',
        subtitle: 'Occaecat aute ut qui consectetur.',
      },
      {
        title: 'Fugiat et minim non fugiat qui dolor aliquip.',
        subtitle: 'Tempor commodo esse minim aliqua laborum amet cupidatat sint ut veniam commodo qui.',
      },
      {
        title: 'Dolore aute eu do incididunt non nisi magna in.',
        subtitle: 'Non dolore est sint esse velit tempor commodo.',
      },
      {
        title: 'Qui cillum reprehenderit occaecat anim elit.',
        subtitle: 'Esse eiusmod ex officia deserunt nulla id consectetur qui mollit.',
      },
      {
        title: 'Enim minim cillum velit id esse commodo consequat non et aute.',
        subtitle: 'Elit voluptate ex nisi velit.',
      },
      {
        title: 'Fugiat fugiat labore aliqua irure velit anim aliquip aute ea voluptate cupidatat esse cillum.',
        subtitle: 'Magna qui Lorem consequat minim duis occaecat nulla cupidatat velit quis.',
      },
      {
        title: 'Sint cillum sunt ullamco occaecat minim nostrud sint laborum excepteur cillum anim incididunt ullamco.',
        subtitle: 'Aliquip cupidatat sit duis ullamco labore fugiat laborum dolore irure laboris.',
      },
      {
        title: 'Elit velit ipsum proident ex proident eiusmod sit commodo reprehenderit fugiat mollit.',
        subtitle: 'Velit proident tempor enim labore nostrud est.',
      },
    ],
  }),
}
</script>

<style lang="scss" scoped>
.blog--seclection {
  max-height: 30vh;
  overflow: scroll;

  .blog--selection-item {
    border: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
  }
}
</style>
