<template>
  <panel :options="panelOptions">
    <template v-slot:header>
      <transition name="popup">
        <a
          v-show="$nuxt.$store.state.options.toggle"
          class="card-header-icon"
          aria-label="more options"
          @click="$nuxt.$store.commit('options/TOGGLE_OPTIONS')"
        >
          <fa class="title" :icon="['fas', 'cog']"/>
        </a>
      </transition>
      <a
        v-show="$nuxt.$store.state.account.loggedIn"
        @click="logOut()"
        class="card-header-icon"
        aria-label="sign out"
      >
        <fa class="title" :icon="['fas', 'sign-out-alt']"/>
      </a>
    </template>
    <slot>
      <div class="directory--logo has-text-centered">
        <fa class="title fa-crown" :icon="['fas', 'crown']" transform="grow-12"/>
      </div>
      <div class="columns is-multiline is-mobile is-gapless">
        <div v-for="link in navigation" :key="link.id" class="column is-4-desktop is-6-mobile">
          <module-directory-link :link="link"/>
        </div>
      </div>
    </slot>
  </panel>
</template>

<script>
import navigation from '~/assets/data/navigation.json'
import Panel from '~/components/global/Panel'
import ModuleDirectoryLink from './modules/ModuleDirectoryLink'

export default {
  name: 'Directory',
  components: {
    ModuleDirectoryLink,
    Panel,
  },
  data: () => ({
    panelOptions: {
      title: 'directory',
      display: false,
      mobile: true,
      move: false,
    },
  }),
  computed: {
    navigation() {
      if (this.$store.state.account.loggedIn) {
        return navigation.map(
          nav =>
            nav.id === 5
              ? {
                  id: 5,
                  title: 'Account',
                  location: '/account',
                  hotkey: 'o',
                }
              : nav
        )
      }

      return navigation
    },
  },
  mounted() {
    // if (process.browser) {
    //   window.addEventListener('keyup', ev => {
    //     this.pushToNewLocation(ev)
    //   })
    // }
  },
  beforeDestroy() {
    // if (process.browser) {
    //   window.removeEventListener('keyup', ev => {
    //     this.pushToNewLocation(ev)
    //   })
    // }
    // console.log('destroy')
  },
  methods: {
    pushToNewLocation(ev) {
      this.navigation.forEach(element => {
        if (element.hotkey.toLowerCase() === ev.key) {
          this.$router.push(element.location)
        }
      })
    },
    logOut() {
      this.$store.commit('account/LOG_OUT')

      this.$store.commit('notification/SET_NOTIFICATION_MESSAGE', {
        text: 'You have been logged out',
        colour: 'is-primary',
      })
    },
  },
}
</script>

<style lang="scss">
.fa-crown {
  color: #ffd700;

  &:hover {
    color: darken(#ffd700, 5%);
  }
}

.directory--logo {
  padding: 15px;
  margin-bottom: 20px;
}

.directory--navigation-logo {
  margin: 25px;
}
</style>
