<template>
  <panel :options="panelOptions">
    <slot>
      <div class="field has-text-left">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" value="root" disabled>
        </div>
      </div>

      <div class="field has-text-left">
        <label class="label">Password</label>
        <div class="control">
          <input
            class="input"
            :class="{'is-success': hasEnteredPassword}"
            type="text"
            :value="password"
            disabled
          >
        </div>
        <p v-show="hasEnteredPassword" class="help is-success">Access Successful!</p>
      </div>

      <div class="field">
        <div class="control">
          <nuxt-link to="/directory" class="button is-link" :disabled="!hasEnteredPassword">Login</nuxt-link>
        </div>
      </div>
    </slot>
  </panel>
</template>

<script>
import Panel from '~/components/global/Panel'

export default {
  name: 'FakeLogin',
  components: {
    Panel,
  },
  data: () => ({
    password: '',
    passwordLength: 8,
    panelOptions: {
      title: 'login',
      display: false,
      mobile: true,
      move: false,
    },
  }),
  computed: {
    hasEnteredPassword() {
      return this.password.length >= this.passwordLength
    },
  },
  mounted() {
    this.getRandomPasswordLength()

    this.enterPassword()
  },
  methods: {
    getRandomPasswordLength() {
      this.passwordLength = Math.random() * (14 - 8) + 14
    },
    enterPassword() {
      let interval = null

      interval = setInterval(() => {
        if (this.password.length < this.passwordLength) {
          this.password += '*'
        }

        if (this.password.length >= this.passwordLength) {
          this.$store.commit('notification/SET_NOTIFICATION_MESSAGE', {
            text: 'access granted',
            colour: 'is-success',
          })
          clearInterval(interval)
        }
      }, 200)
    },
  },
}
</script>

<style>
</style>
