.dev-notification {
  @extend .notification;

  position: absolute;
  bottom: 15%;
  width: 20%;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  animation-duration: 1s;

  @include mobile {
    width: 80%;
    bottom: 5%;
  }
}
