<template>
  <background>
    <module-return-home/>

    <panel :options="panelOptions">
      <template v-slot:header>
        <nuxt-link to="/projects" class="card-header-icon" aria-label="more options">
          <fa class="title" :icon="['fas', 'chevron-left']"/>
        </nuxt-link>
      </template>
      <slot/>
    </panel>
  </background>
</template>

<script>
import Background from '~/components/global/Background'
import Panel from '~/components/global/Panel'
import ModuleReturnHome from '~/components/navigation/ModuleReturnHome'

export default {
  components: {
    Panel,
    Background,
    ModuleReturnHome,
  },
  props: {
    title: {
      type: String,
      default: 'DEFAULT_PROJECT_TITLE',
    },
  },
  data: () => ({}),
  computed: {
    panelOptions() {
      return {
        title: this.title,
        display: false,
        mobile: true,
        move: false,
      }
    },
  },
}
</script>

<style>
</style>
