<template>
  <panel v-show="display" :options="panelOptions" :style="{'top': top, 'left': left}">
    <template v-slot:header>
      <a class="card-header-icon has-text-danger" aria-label="close" @click="hideDisplay()">X</a>
    </template>
    <img :src="image">
  </panel>
</template>

<script>
import Panel from '~/components/global/Panel'

export default {
  name: 'ModuleRandomPopup',
  components: {
    Panel,
  },
  data: () => ({
    panelOptions: {
      title: 'pop-up',
      display: false,
      move: true,
      mobile: false,
    },
    display: false,
    top: '0',
    left: '0',
    image: '/images/psycho.gif',
  }),
  mounted() {
    this.startRandomDisplay()
  },
  methods: {
    hideDisplay() {
      this.display = false
    },
    startRandomDisplay() {
      setInterval(() => {
        const pageCheck = this.$nuxt.$route.name !== ('index' || 'directory')
        const checkStore = this.$store.state.options.popups

        if (!this.display && pageCheck && checkStore) {
          this.generateRandomPosition()
          this.display = true
          this.generateRandomImage()
        }
      }, this.getRandomizer(25000, 45000))
    },
    generateRandomPosition() {
      for (let i = 1; i <= 3; i++) {
        this.top = `${Math.max(0, Math.min(60, Math.ceil(Math.random() * 100)))}%`
        this.left = `${Math.max(0, Math.min(60, Math.ceil(Math.random() * 100)))}%`
      }
    },
    generateRandomImage() {
      // const apikey = 'Onka2IcyKpuKIcDxjVH9aOSTmEh9av40'
      // axios
      //   .get(
      //     `https://api.giphy.com/v1/gifs/random?api_key=${apikey}&tag=movie&rating=R`
      //   )
      //   .then(response => {
      //     /* eslint no-console: 0 */
      //     console.log(response.data.data)
      //     this.image = response.data.data.embed_url
      //   })
    },
    getRandomizer(bottom, top) {
      return Math.floor(Math.random() * (1 + top - bottom)) + bottom
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  position: absolute;
  z-index: 2;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
