<template>
  <transition name="fade">
    <div v-show="show" class="dev-notification" :class="notification.colour">
      <button class="delete" @click="hideNotification()" />
      {{message}}
    </div>
  </transition>
</template>

<script>
export default {
  name: 'ModuleNotification',
  data: () => ({
    show: false,
    message: 'Default message text',
  }),
  created() {
    this.$store.commit('notification/RESET_NOTIFICATION_MESSAGE')
  },
  computed: {
    notification: {
      get() {
        return this.$store.state.notification.notification
      },
    },
  },
  watch: {
    notification: function(val) {
      const isEmpty = Object.entries(this.notification).length === 0 && this.notification.constructor === Object
      if (!isEmpty) {
        this.show = true
        this.message = this.notification.text

        setTimeout(() => {
          this.hideNotification()
        }, 4000)
      }
    },
  },
  methods: {
    hideNotification() {
      this.show = false
      setTimeout(() => {
        this.$store.commit('notification/RESET_NOTIFICATION_MESSAGE')
      }, 1000)
    },
  },
}
</script>

<style lang="scss" scoped>
.fade-enter-active {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.fade-leave-active {
  animation-name: fadeOutDown;
  -webkit-animation-name: fadeOutDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

.fadeInUp {
  animation-name: fadeInUp;
}
</style>
