<template>
  <div class="columns is-multiline is-gapless view-projects">
    <div
      v-for="{id, location, image, title} in projects"
      :key="id"
      class="column is-4"
      style="padding: 0.5em !important;"
    >
      <nuxt-link :to="`/projects/${id}`">
        <div
          :style="{'background-image': `url(${image})`}"
          class="project--selector"
          @click="selectProject(project)"
        ></div>
        <div class="project--selector-content has-text-dark has-text-centered">{{ title }}</div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModuleProjectSelect',
  data: () => ({
    loading: false,
  }),
  computed: {
    projects: {
      get() {
        return this.$store.state.projects.collection
      },
    },
  },
  methods: {
    selectProject(project) {
      this.$store.commit('projects/select_project', project)
    },
  },
}
</script>

<style lang="scss" scoped>
.column {
  height: 100%;

  &:hover {
    background-color: #aaaaaaaa;
    cursor: pointer;
  }
}

.view-projects {
  max-height: 50vh;
  overflow: scroll;
}

.project--selector {
  margin: auto;
  border: 1px solid black;
  padding: 30px 30px;
  width: 75%;
  min-height: 100px;
  // transform: skew(-10deg);
  color: white;
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  &.active {
    background-color: #3273dc;

    &:hover {
      background-color: #3273dcaa;
      cursor: pointer;
    }
  }
}
.project--selector-content {
  // transform: skew(10deg);
  margin: 1em;
}
</style>
