<template>
  <div
    v-if="!loading"
    class="project--display"
  >{{ findProject === undefined ? 'Test' : findProject.description }}dfg</div>
</template>

<script>
export default {
  name: 'ModuleProjectView',
  data: () => ({
    loading: false,
  }),
  computed: {
    findProject() {
      return this.$nuxt.$store.state.projects.selected
    },
  },
}
</script>

<style>
</style>
