<template>
  <panel :options="panelOptions">
    <form name="contact" method="POST" data-netlify-honeypot="bot-field" netlify>
      <input type="hidden" name="form-name" value="contact">
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field has-text-left">
            <label class="label">Name</label>
            <p class="control is-expanded">
              <input class="input" type="text" name="_name" placeholder="Name">
            </p>
          </div>
          <div class="field has-text-left">
            <label class="label">Email</label>
            <p class="control is-expanded">
              <input class="input" type="email" name="_email" placeholder="Email">
            </p>
          </div>
        </div>
      </div>

      <div class="field has-text-left">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" name="_message" placeholder="Enter your message here"/>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input v-model="agreed" type="checkbox" name="_agree">
            I agree to the
            <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button type="submit" class="button is-link" :disabled="agreed === 0">Submit</button>
        </div>
      </div>
    </form>
  </panel>
</template>

<script>
import Panel from '~/components/global/Panel'

export default {
  name: 'ContactForm',
  components: {
    Panel,
  },
  data: () => ({
    panelOptions: {
      title: 'contact',
      display: true,
      mobile: true,
      move: false,
    },
    agreed: 0,
  }),
}
</script>

<style>
</style>
