<template>
  <nuxt-link to="/directory">
    <div class="home-button">
      <img src="~assets/home.gif">
    </div>
  </nuxt-link>
</template>

<script>
export default {
  name: 'ModuleReturnHome',
}
</script>

<style lang="scss" scoped>
.home-button {
  position: absolute;
  margin-left: -40px;
  left: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 2;

  @media screen and (min-width: 769px) {
    bottom: 14vh;
  }

  bottom: 8vh;

  > img {
    width: 100%;
    height: auto;
  }
}
</style>
