<template>
  <panel :options="panelOptions">
    <module-project-select/>
  </panel>
</template>

<script>
import Panel from '~/components/global/Panel'
import ModuleProjectSelect from './modules/ModuleProjectSelect'

export default {
  name: 'ProjectSelection',
  components: {
    Panel,
    ModuleProjectSelect,
  },
  data: () => ({
    panelOptions: {
      title: 'projects',
      display: true,
      mobile: true,
      move: false,
    },
  }),
}
</script>

<style lang="scss" scoped>
</style>
