@import './animations/_all.scss';

/* press-start-2p-regular - latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/press-start-2p-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'),
    url('/fonts/press-start-2p-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/press-start-2p-v7-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/press-start-2p-v7-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/press-start-2p-v7-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/press-start-2p-v7-latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
}

$primary: #215b94;

$family-sans-serif: 'Press Start 2P', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@import 'vueperslides/dist/vueperslides.css';
@import '~bulma';

@import '~/assets/styling/elements/notification.scss';

.card-header-dark {
  background-color: #aaaaaa;
}
