<template>
  <panel :options="panelOptons">
    <div class="columns">
      <div
        class="column"
        style="display: flex; width: 100%; height: 500px; flex-direction: column; "
      >
        <iframe
          src="https://drive.google.com/file/d/0B_OrOFwSeccjQ3JwSjVrS09KbWs/preview"
          width="1920"
          height="500px"
          style="height: 500px;"
        ></iframe>
      </div>
      <!-- <div class="column is-2"></div> -->
    </div>
  </panel>
</template>

<script>
import Panel from '~/components/global/Panel'

export default {
  name: 'Movie',
  components: {
    Panel,
  },
  data: () => ({
    panelOptons: {
      title: 'ch4r',
      display: true,
      mobile: true,
      move: false,
    },
  }),
}
</script>

<style>
</style>
