<template>
  <div class="container">
    <div class="columns" style="width: 100%; margin: auto;">
      <div class="column is-2 is-hidden-mobile"/>
      <div class="column is-8">
        <panel :options="panelOptons">
          <div class="columns is-multiline is-vcentered">
            <div class="column">
              <p>
                I am currently working at
                <a href="https://rcco.uk" target="_blank">RCCO</a> as the Web & App specialist. Here I am leading our web development team to provide services to clients such as Google and King. You can see some of my previous work on the
                <nuxt-link to="/projects">projects page.</nuxt-link>
              </p>
            </div>
            <div class="column is-3">
              <div class="columns is-multiline is-mobile">
                <div
                  v-for="({logo, link, alt}, id) in logos"
                  :key="id"
                  class="column is-12-tablet is-3-mobile is-12-widescreen is-6-fullhd"
                >
                  <a :href="link" target="_blank">
                    <figure class="image is-48x48" style="margin: auto;">
                      <img :src="logo" style="height: 100%" :alt="alt">
                    </figure>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </panel>
      </div>
    </div>
  </div>
</template>

<script>
import Panel from '~/components/global/Panel'

export default {
  name: 'Information',
  components: {
    Panel,
  },
  data: () => ({
    panelOptons: {
      title: 'about',
      display: true,
      mobile: true,
      move: false,
    },
    logos: [
      {
        logo: '/images/about/nuxt.svg',
        link: 'https://nuxtjs.org',
        alt: 'Logo of Nuxt.js',
      },
      {
        logo: '/images/about/graphql.svg',
        link: 'https://graphql.org',
        alt: 'Logo of GraphQL',
      },
      {
        logo: '/images/about/netlify.svg',
        link: 'https://www.netlify.com',
        alt: 'Logo of Netlify',
      },
      {
        logo: '/images/about/firebase.svg',
        link: 'https://firebase.google.com',
        alt: 'Logo of Firebase',
      },
    ],
  }),
}
</script>

<style lang="scss" scoped>
.is-mobile .column {
  &:hover {
    background-color: #aaaaaa;
  }
}
</style>
