<template>
  <div class="dev-background" :class="{'disable-flicker': !shouldFlicker}">
    <div class="dev-frame is-hidden-mobile"/>
    <module-random-popup/>
    <module-notification/>
    <nuxt/>
  </div>
</template>

<script>
import ModuleRandomPopup from '~/components/utilities/ModuleRandomPopup'
import ModuleNotification from '~/components/utilities/ModuleNotification'

export default {
  name: 'Default',
  components: {
    ModuleRandomPopup,
    ModuleNotification,
  },
  computed: {
    shouldFlicker() {
      return this.$store.state.options.flicker
    },
  },
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style lang="scss">
.disable-flicker {
  animation: none !important;
  &::after {
    animation: none !important;
  }
}

.dev-background {
  background: black;
  &::after {
    background: rgba(18, 16, 16, 0.1);
    animation: flicker 0.15s infinite;
  }

  .dev-frame {
    width: 100%;
    height: 100%;
    background-image: url('~assets/frame.png');
    background-size: 100% 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
      z-index: 7;
      background-size: 100% 2px, 3px 100%;
      pointer-events: none;
    }
  }
}
</style>
