<template>
  <background>
    <module-return-home/>
    <information/>
  </background>
</template>

<script>
import ModuleReturnHome from '~/components/navigation/ModuleReturnHome'
import Background from '~/components/global/Background'
import Information from '~/components/page/about/Information'

export default {
  components: {
    ModuleReturnHome,
    Background,
    Information,
  },
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style>
</style>
