<template>
  <background>
    <module-return-home/>
    <account-login v-if="!isLoggedIn"/>
    <account-management v-else/>
  </background>
</template>

<script>
import Background from '~/components/global/Background'
import ModuleReturnHome from '~/components/navigation/ModuleReturnHome'

import AccountLogin from '~/components/page/account/AccountLogin'
import AccountManagement from '~/components/page/account/AccountManagement'

export default {
  components: {
    ModuleReturnHome,
    Background,
    AccountLogin,
    AccountManagement,
  },
  computed: {
    isLoggedIn: {
      get() {
        return this.$store.state.account.loggedIn
      },
    },
  },
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style>
</style>
