<template>
  <background>
    <movie/>
    <module-return-home/>
  </background>
</template>

<script>
import Background from '~/components/global/Background'
import ModuleReturnHome from '~/components/navigation/ModuleReturnHome'
import Movie from '~/components/page/ch4r/Movie'

export default {
  components: {
    Background,
    ModuleReturnHome,
    Movie,
  },
  mounted() {
    if (!this.$store.state.account.loggedIn) {
      this.$router.push('/directory')
    }
  },
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style>
</style>
