<template>
  <background>
    <module-return-home/>
    <contact-form/>
  </background>
</template>

<script>
import Background from '~/components/global/Background'
import ModuleReturnHome from '~/components/navigation/ModuleReturnHome'

import ContactForm from '~/components/page/contact/ContactForm'

export default {
  components: {
    ModuleReturnHome,
    Background,
    ContactForm,
  },
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style>
</style>
