<template>
  <background>
    <module-return-home/>

    <div class="columns">
      <div class="column is-3">
        <blog-select/>
      </div>
      <div class="column">
        <blog-view/>
      </div>
    </div>
  </background>
</template>

<script>
import ModuleReturnHome from '~/components/navigation/ModuleReturnHome'
import Background from '~/components/global/Background'

import BlogSelect from '~/components/page/dev/BlogSelect'
import BlogView from '~/components/page/dev/BlogView'

export default {
  components: {
    ModuleReturnHome,
    Background,
    BlogSelect,
    BlogView,
  },
  data: () => ({}),
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style>
</style>
