<template>
  <background>
    <directory/>
    <module-options :options="options"/>
  </background>
</template>

<script>
import Background from '~/components/global/Background'

import Directory from '~/components/page/directory/Directory'
import ModuleOptions from '~/components/page/directory/modules/ModuleOptions'

export default {
  components: {
    Directory,
    ModuleOptions,
    Background,
  },
  data: () => ({
    options: [
      {
        name: 'Background Flicker',
        call: 'options/TOGGLE_FLICKER',
      },
      {
        name: 'Pop-ups',
        call: 'options/TOGGLE_POPUPS',
      },
    ],
  }),
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style>
</style>
