<template>
  <background>
    <fake-login/>
  </background>
</template>

<script>
import Background from '~/components/global/Background'
import FakeLogin from '~/components/page/index/FakeLogin'

export default {
  components: {
    Background,
    FakeLogin,
  },
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style>
</style>
