<template>
  <background>
    <module-return-home/>
    <panel :options="panelOptions">
      <p>Coming soon</p>
    </panel>
  </background>
</template>

<script>
import Background from '~/components/global/Background'
import ModuleReturnHome from '~/components/navigation/ModuleReturnHome'
import Panel from '~/components/global/Panel'

export default {
  components: {
    ModuleReturnHome,
    Background,
    Panel,
  },
  data: () => ({
    panelOptions: {
      title: 'movies',
      display: false,
      move: false,
      mobile: true,
    },
  }),
  transition(to, from) {
    if (!from) return 'loading'
    return 'loading'
  },
}
</script>

<style>
</style>
