<template>
  <panel :options="panelOptions">
    <div class="columns">
      <div class="column is-4">
        <figure class="image is-128x128">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="column">
        <p>name: {{account.name}}</p>
        <p>user: {{account.user}}</p>
        <div>
          <p>pages:</p>
          <p v-for="(page, id) in account.pages" :key="id">
            <nuxt-link :to="page">{{page}}</nuxt-link>
          </p>
        </div>
        <br>
        <div class="buttons is-right">
          <span class="button is-primary" @click="logOut()">Log out</span>
        </div>
      </div>
    </div>
  </panel>
</template>

<script>
import Panel from '~/components/global/Panel'

export default {
  name: 'AccountLogin',
  components: {
    Panel,
  },
  data: () => ({
    panelOptions: {
      title: 'account-management',
      display: true,
      mobile: true,
      move: false,
    },
  }),
  computed: {
    account: {
      get() {
        return this.$store.state.account.accountLoggedIn
      },
    },
  },
  methods: {
    logOut() {
      this.$store.commit('account/LOG_OUT')
      this.$router.push('/directory')
    },
  },
}
</script>

<style>
</style>
