<template>
  <panel :options="panelOptions">
    <div class="field">
      <p class="control">
        <input class="input" type="email" v-model="email" placeholder="Email" :disabled="checking">
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input
          class="input"
          type="password"
          v-model="password"
          placeholder="Password"
          :disabled="checking"
        >
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-link" @click="check()">Login</button>
      </p>
    </div>
  </panel>
</template>

<script>
import Panel from '~/components/global/Panel'
import list from '~/assets/data/account.json'

export default {
  name: 'AccountLogin',
  components: {
    Panel,
  },
  data: () => ({
    email: '',
    password: '',
    checking: false,
    list,
    panelOptions: {
      title: 'login',
      display: true,
      mobile: true,
      move: false,
    },
  }),
  methods: {
    check() {
      this.checking = true

      setTimeout(() => {
        list.forEach(element => {
          if (element.user === this.email && element.password === this.password) {
            const account = {
              user: element.user,
              name: element.name,
              pages: element.pages,
            }
            this.$store.commit('account/LOG_IN', account)

            this.$store.commit('notification/SET_NOTIFICATION_MESSAGE', {
              text: 'You have been logged in',
              colour: 'is-success',
            })
          }
        })
      }, 1000)
    },
  },
}
</script>

<style>
</style>
