<template>
    <div class="page-background">
      <section class="background-container">
        <slot/>
      </section>
    </div>
</template>

<script>
export default {
  name: 'Background',
}
</script>

<style>
.background-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
