<template>
  <transition name="popup">
    <div class="card" :class="{'drag': options.move, 'is-hidden-mobile': !options.mobile}">
      <header class="card-header card-header-dark">
        <p class="card-header-title">_{{ typedTitle }}</p>
        <slot name="header"/>

        <a v-if="options.display" href="#" class="card-header-icon" aria-label="more options">_</a>
        <nuxt-link
          v-if="options.display"
          to="/directory"
          class="card-header-icon has-text-danger"
          aria-label="close button"
        >X</nuxt-link>
      </header>
      <div class="card-content">
        <slot/>
      </div>
    </div>
  </transition>
</template>

<script>
if (process.client) {
  /* eslint no-var: 0 */
  var displace = require('displacejs')
}

export default {
  name: 'Panel',
  props: {
    options: {
      type: Object,
      default: () => ({
        title: 'Default',
        display: true,
        move: false,
        mobile: true,
      }),
      required: true,
    },
  },
  data: () => ({
    typedTitle: '',
  }),
  mounted() {
    if (this.options.move) {
      const el = document.querySelectorAll('.drag')

      el.forEach(element => {
        displace(element, { constrain: true })
      })
    }
    setTimeout(() => {
      this.typeOutTitle()
    }, 1000)
  },
  methods: {
    typeOutTitle() {
      let i = 0
      setInterval(() => {
        if (i < this.options.title.length) {
          this.typedTitle += this.options.title.charAt(i)
          i++
        }
      }, 200)
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  @media screen and (min-width: 769px) {
    max-width: 75vw;
  }
}
</style>
